{% extends 'layout_gsrm.html.twig' %}

{% block title %}
  Index - {{ parent() }}
{% endblock %}

{% block body %}

<div class="alert alert-success">
    <center>
        <h3><strong>Successfully loaded !</strong></h3>
        <br />
        <a href="{{ path('gsrm_index') }}"><button type="button" class="btn btn-success">Index page</button></a><br /><br />
    </center>
</div>

{% endblock %}
